.container{
	width: 450px;
	height: 600px;
	background-color: #62DD8B;
	border: 5px solid #898480;

}

.name{
	font-family: Lobster;
	text-align: center;
	font-size: 36pt;
}

.role{
	font-family: Roboto light;
	font-style: italic;
	text-align: center;
	font-size: 18pt;
}

.heroes{
	width: 450px;
	height: 500px;

}

.help{
	width: 450px;
	height: 100px;
}

.dark{
	background-color: #8CEAA9;
}

.light{
	background-color: #BAF2CB;
}

ul{
	list-style: none;
	font-family: Roboto Light;
	margin: 0;
	padding: 0;
}

li{
	padding-left: 10px;
	height: 100px;
	line-height: 100px;
	font-size: 20pt;
}

.portraits{
	height: 100px;
	width: auto;
	float: right;
}
